i{
    font-style: normal;
}
header{
    height: 80px;
    border-bottom: 1px solid #f3f3f3;
}
header a{

}
header .logo{
    font-size: 0.5rem;
    display: inline-block;
    margin-top: 14px;
    padding-right: 15px;
    text-decoration: none;

}
header .titleFa{
    height: 39px;
    font-size: 28px;
    color: #585858;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
    border-left: 1px solid #eaeaea;
    margin-top: 20px;
}
header .title{
    display: inline-block;
    margin-top: 8px;
    font-weight: bold;
}
header .loginOrReg{
    margin-top: 50px;
}
header .loginOrReg a{
    display: inline-block;
    margin: 0 14px;
    color: black;
}
header .loginOrReg a:hover{
    color: #ff552e;
}
.tit{
    margin: 80px auto 45px;
    width: 430px;
}
.tit .line{
    float: left;
    display: block;
    width: 138px;
    height: 2px;
    background: #ccc;
    margin: 16px -10px 0;
}
.tit .step{
    float: left;
    font-size: 16px;
    text-align: center;
}
.tit .step b{
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: #d9d9d9;
    color: white;
    display: block;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
}
.tit .step i{
    display: inline-block;
    margin-top: 20px;
    color: #d9d9d9;
}
.tit .active b{
    background-color: #ff552e;
}
.tit .active i{
    color: #ff552e;
}
.register1 input{
    display: block;
    width: 421px;
    height: 50px;
    background: #FFF;
    border: 2px solid #EBEBEB;
    border-radius: 2px;
    margin-top: 16px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 50px;
    color: #333;
}
.register1 input.submit{
    border: none;
    background: #FF552E;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    width: 440px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
}
.register1 .container p{
    width: 422px;
    margin: 0 auto;
}
.register1 .content .VerifCode{
    position: relative;
}
.register1 .content .VerifCode img{
    height: 32px;
    position: absolute;
    top: 12px;
    right: 8px;
    cursor: pointer;
}
.register1 .wrong_color{
    border: 2px solid #FF5252;
    box-shadow: inset 1px 1px 7px 0 #FF5252;
}




